streamlit>=1.36
pandas>=2.0
numpy>=1.24
matplotlib>=3.7
plotly>=5.18

pymongo>=4.6
certifi
requests>=2.31

scikit-learn>=1.3
scipy>=1.10
statsmodels>=0.14

folium>=0.15
streamlit-folium>=0.20
branca>=0.7

pytest>=7.4

